body {
  height: 100%;
  overflow: hidden;
}
.header {
  height: auto;
  justify-content: center;
  display: flex;
}
.menu {
  margin: 1.5vw;
  position: relative;
}
h1 {
  background-color: antiquewhite;
  margin: auto;
}

main {
  display: flex;
  height: fit-content;
}

.container-phone {
  width: 30%;
  margin-left: 2rem;
  display: flex;
  margin-left: 18%;
  margin-top: 0 !important;
}
.phone-body {
  width: 350px;
  aspect-ratio: 0.37/1;
  margin: auto;
  margin-top: 0 !important;
}

.screen {
  height: 45%;
  width: 100%;
  background-color: rgb(211, 227, 241);
  display: flex;
  clip-path: polygon(
    1000% 0,
    92% 5%,
    97% 75%,
    95% 100%,
    5% 100%,
    3% 75%,
    8% 5%
  );
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
}
.phone-display {
  height: 60%;
  width: 70%;
  background-color: rgb(196, 255, 255);
  margin: auto;
  margin-bottom: 15%;
  border-radius: 5%;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
}

#textual {
  padding: 1rem;
  font-family: "Lucida Sans Typewriter", "Lucida Console", monaco,
    "Bitstream Vera Sans Mono", monospace;
  font-size: 19px;
  font-style: normal;
  font-variant: normal;
  font-weight:bolder;
  line-height: 20px;
  margin: 0
}
#time{
 text-align: right;
 margin: 1rem;
 margin-bottom: 0;
 font-family: "Lucida Sans Typewriter", "Lucida Console", monaco,
    "Bitstream Vera Sans Mono", monospace;
  font-size: 15px;
  font-style: normal;
  font-variant: normal;
  font-weight:bolder;

}

.buttons {
  height: 55%;
  width: 94%;
  background-color: rgb(210, 211, 211);
  border-radius: 20%;
  border-top-left-radius: 15%;
  border-top-right-radius: 15%;
  display: flex;
  flex-direction: column;
  margin: auto;
}
.navigation,
.first,
.second,
.third {
  margin: 2%;
  text-align: center;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  margin: 0;
  width: 21%;
  height: 20%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}


.user-inputs {
  display: flex;
  margin-left: 10%;
  margin-right: 2%;
  margin-bottom: 0;
  margin-top: 5%;
  flex-direction: column;
  width: 100%;

}

.outputs {
  width: fit-content;
  margin: auto;
  margin-bottom: 2%;
  margin-top: 0;
  margin-right: 50%;

}
.messages {
  height: 50%;
  width: 80%;
  background-color: rgb(224, 227, 231);
  margin-bottom: 5%;
  aspect-ratio: 1/0.8;
  padding: 2rem;
}

